@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
}
body{
    background-color: #efefef;
}


.header{
    background-color: #1a1a1a;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    padding: 10px 15%;
}



.header .logo{ cursor: pointer;
margin-right: auto;
}
.header .logo img{
height: 60px;
width: auto;
transition: all 0.3s;
}
.header .logo img:hover{
    transform: scale(1.2);
}

.nav-links{
list-style: none;
margin-top: 15px;
}

.nav-links li{
   display: inline-flex;
   padding: 10px 20px;
}

.nav-links li:hover{
    transform: scale(1.1);
}

.nav-links a{
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
   
}

.nav-links li a:hover{
color: #b1152a;
 }




.header .btn button{
    background: #b1152a;
    padding: 8px 10px;
    width: 50%;
    display: block;
    border: none;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
  transition: all 0.3s ease 0s;
    width: 100%;
  
}

.header .btn button:hover{
    background-color: #ff3752;
    color: #ffffff;
    transform: scale(1.1);
}


/*MAIN*/
.titulos{font-size: 35px; display: block;text-align: center;line-height: 40px; color: #000000; margin-top: 20px; padding-top: 80px;}
.container{
  display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 20%;
}

.item{margin:20px;}



footer{
background-color: #262626;
color: #ffffff;
display: flex;
flex-direction: column;
padding-top: 20px;
}
.area1{flex-grow: 1;flex-basis: 50%;}
.area1 p{font-size:14px; margin-top: 10px;text-align: left!important;}

.area2{flex-grow: 1;flex-basis: 50%;}
.area2 p{font-size:14px;text-align: left!important;}
.area2 ul{list-style-type: none;line-height: 1.6;padding-left: 0px!important; }
.area2 a{color: #eceff1;text-decoration: none;font-size:14px;}
.area2 a:hover{color: #b1152a;text-decoration: none;}

.area3{flex-grow: 1;flex-basis: 50%; text-align: left!important;}
.area3 p{font-size:14px;text-align: left!important;}
.area3 ul{list-style-type: none;line-height: 1.6;padding-left: 0px!important; }
.area3 a{color: #eceff1;text-decoration: none;font-size:14px;}
.area3 a:hover{color: #b1152a;text-decoration: none;}
.area3 ul li a i{margin-right:10px!important;}


.container-footer{
   display: flex;
   gap:20px;
   margin: 0 10%;
}
.container-footer h3{
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 20px;
}
.copyright{padding: 15px 0;text-align: center;font-size: 13px; background-color: #000000;}

.carousel-item .carousel-caption img {transition: ease 1s;}
.carousel-item .carousel-caption img:hover{
transform: scale(0.9);
}

/*BOOsTrap FORZADO*/
.carousel-caption {
    positio: absolute;
    bottom: 35%!important;
}

.carousel-caption h2{
    font-size:63px!important;
    
}
.carousel-control-next, .carousel-control-prev {bottom:35%!important;}

/*estilos del formulario*/
#contacto{
   background-color: #111; 
    box-sizing: content-box;
    text-align: center;
    flex-direction: column;
    border-radius: 1rem;
    font-size: 1.8rem;
    color:#ffffff;
    margin: 50px auto!important;
    padding: 25px!important;
    width: 800px;
}

input,textarea {
    width: 100%;
    padding: 0.5rem 1.3rem;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }

  #botones{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  } 
  #contacto button{
    background: #b1152a;
    padding: 8px 10px;
    width: 50%;
    display: block;
    border: none;
    color: #fff;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-bottom: 2rem;
  }



 .sinCompletar{
    font-size:1.15rem;
    color:#b1152a;
    font-style: italic;
     padding: 10px;
} 


/*Home page*/
.main-wrapper{
    margin: 30px 0;
}


.main-wrapper > h2{
    text-align: center;
    margin: 45px 0 25px 0;
}

.article-collection{
    display: flex;
    align-items:initial;
    justify-content: center;
    width: 94vw;
    flex-wrap: wrap;
    margin: 0 auto;
}

article{
    flex: 0 0 calc(33% - 30px);
    margin: 10px;
    box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.75);
}

.img-box img{
    width: 100%;
    display: block;
}

.img-box{
    overflow: hidden;
}

.rating{
    font-size: 13px;
    margin-bottom: 10px;
}
.rating ul{padding-left:0px!important;}
.rating ul li{list-style: none; margin-left: 0px!important;padding-left: 0px!important;}


.rating .fa-sharp.fa-solid.fa-trophy {color:#ffb600;}

.rating span:last-child{
    opacity: 0.8;
}

.text-content{
    padding: 0 25px;
}

.text-content h3{
    padding: 15px 0;
    font-size: 19px;
}
.text-content h5{
    padding: 25px 0;
}

.text-content p{
    opacity: 0.8;
    padding: 10px 0 25px 0;
}

.location{
    padding: 20px 0;
display: flex;
    justify-content: space-between;
    border-top: 1px solid #e8e8e8;
}

.location div span{
    opacity: 0.8;
    font-size: 15px;
}

.location button{
    background: #b1152a;
    padding: 8px 10px;
    width: 50%;
    display: block;
    border: none;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
}

.hide-m{display: none;}



/******TABLET*********/
@media (min-width: 481px) and (max-width: 967px) {

    .hide-d{display: none;}
    .hide-m{display: block;}
    section article{flex: 0 0 calc(50% - 30px)!important;}
   #carru{display:none!important;}

    .location button{
    background: #b1152a;
    padding: 8px 10px;
    width: 100%;
    display: block;
    border: none;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;}
    
    #contacto {width: 80%;margin: 5px 10px;padding: 0px;}
    #botones.btn-e,#botones.btn-b {width: 100%!important;}
    .container-footer {display: block; margin: 0 10%;}
    .article-collection article {flex: 0 0 calc(50% - 20px);margin: 10px;box-shadow: none;}
    
}

/******MOBILE*********/
@media (min-width: 300px) and (max-width: 966px){
     .hide-d{display: none;}
    .hide-m{display: block;}
    #carru{display:none!important;}
   .container-footer {flex-direction: column;}
   article{flex: 0 0 100%!important;}
   .area2 h3{font-size: 10px;}
   .header {background-color: #1a1a1a;padding: 10px; text-align: center;}
   .logo {cursor: pointer;text-align: center;margin-left:auto;}
   .header .nav-links li {display: flex; padding: 10px 20px;}
   .carousel-control-next, .carousel-control-prev {display: none!important;}
    
    ul.nav-links {
    background-color: #1a1a1a;
    margin: 0;
    display: inline-grid;
    width: 100%;
    text-align: center;}

 
}


  
